body {
    background: rgb(211, 211, 208);
}

.contents{
    width: 100%;
    height: 500px;
    margin: auto;
    display: flex;
    clear: both;

}
.posts{
    background: white;
    width: 500px;
    height: 400px;
    margin:auto;
}

.photo-header {
    display: flex;
}

.palabras
{
    padding: 10px;
    font-size: 15px;
}

.numeros
{
    padding-top: 10px;
    font-size: 13px;
    margin-left: 70%;
}
