body {
    background: rgb(211, 211, 208);
}

.contents{
    width: 47%;
    height: 664px;
    margin: auto;
    display: flex;
}
.posts{
    background: white;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 30px;
    margin-top: 40px;    
}

.photo-header {
    display: flex;
}